<div class="gpt3__whatgpt3 section__margin" id="wpt3">
  <div class="gpt3__whatgpt3-feature">
    <app-feature [title]="'What is GPT-3'" [text]="'We so opinion friends me message as delight. Whole front do of plate heard oh ought. His defective nor convinced residence own. Connection has put impossible own apartments boisterous. At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by.'"></app-feature>
  </div>
  <div class="gpt3__whatgpt3-heading">
    <h1 class="gradient__text">The possibilities are beyond your imagination</h1>
    <p>Explore The Library</p>
  </div>
  <div class="gpt3__whatgpt3-container">
    <ng-container *ngFor="let feature of features">
      <app-feature [title]="feature.title" [text]="feature.text"></app-feature>
    </ng-container>
  </div>
</div>
